/**
 * https://css-tricks.com/snippets/css/media-queries-for-standard-devices/
 *
 *
 */
@import url("style.css");

/* Smartphones (portrait and landscape) ----------- */


/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
    body {
        font-size: 8px;
    } 

    .cover .full-image {
        background: url("images/Rooster_LandingPage_1920x1080_Jackpot1.jpg") center center no-repeat;
        background-size: cover;
    }
    .cover .full-image .container{
        margin-top: 8em;
        margin-left: 6em;
    }
    .offer{
        width: 50em;
        padding: 100px 0 130px 0;
    }
    .cover .button {
        font-size: 2em;
        padding: 1em 1em 1em 1em;
    }

    .footer-columns{
        display: inline-block;
        box-sizing: border-box;
        padding: 0;
    }
    .footer-columns div{
        padding-left: 0;
    }
}


/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
    
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    body {
        font-size: 5px;
    } 
    .menu .menu-item a img{
        width: 15em;
    }
    .cover .full-image {
        background: url("images/backgorund-image-phone.png") center center no-repeat;
        background-size: contain;
        height: 110%;
    }
    .cover {
        height: 50vh;
        width: 100%;
        overflow: hidden;
        position: relative;
        margin-bottom: 5em;
    
    }

    .cover .full-image .container{
        margin-top: 80px;
        margin-left: 6em;
    }
    .offer{
        width: 50em;
        padding: 80px 0 100px 0;
    }  

      /* FOOTER */

    .footer-columns{
        display: inline-block;
        box-sizing: border-box;
        padding: 0;
        font-size: 15px;
    }
    .footer-columns div{
        padding-left: 0;
        padding-top: 1em;
    }
    .footer-columns img {
        height: 2em;
    }
    footer img {
        height: 8em;
    }
    h4 {
        padding-bottom: 1em;
    }
}


/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
    body {
        font-size: 12px;
    } 

    .cover .full-image {
        background: url("images/Rooster_LandingPage_1920x1080_Jackpot1.jpg") center center no-repeat;
        background-size: cover;
    }

    .footer-columns{
        display: inline-block;
        box-sizing: border-box;
        padding: 0;
    }
    .footer-columns div{
        padding-left: 0;
    }
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
    body {
        font-size: 12px;
    } 

    .cover .full-image {
        background: url("images/Rooster_LandingPage_1920x1080_Jackpot1.jpg") center center no-repeat;
        background-size: cover;
    }

    .footer-columns{
        display: inline-block;
        box-sizing: border-box;
        padding: 0;
    }
    .footer-columns div{
        padding-left: 0;
    }
      
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
    body {
        font-size: 12px;
    } 

    .cover .full-image {
        background: url("images/Rooster_LandingPage_1920x1080_Jackpot1.jpg") center center no-repeat;
        background-size: cover ;
    }
        
    .footer-columns{
        display: inline-block;
        box-sizing: border-box;
        padding: 0;
    }
    .footer-columns div{
        padding-left: 0;
        padding-top: 1em;
    }
    h4 {
        padding-bottom: 1em;
    }
      
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}