/**
 * https://css-tricks.com/snippets/css/media-queries-for-standard-devices/
 *
 *
 */
@import url("./style.css");

/* Smartphones (portrait and landscape) ----------- */


/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) and (orientation:landscape) {
    body {
        font-size: 8px;
    }
    .cover {
        height: 100vh;
        width: 100%;
        overflow: hidden;
        margin-bottom: 5em;
        float: none;;
      } 

    .cover .full-image {
        background: url("images/Rooster_LandingPage_1920x1080_Jackpot1.jpg") center center no-repeat;
        background-size: contain;
    }
    .cover .full-image .container{
        margin-top: 8em;
        margin-left: 6em;
        display: inline-block;
        box-sizing: border-box;
        padding: 0;
    
    }
    
    .offer{
        width: 50em;
        padding: 100px 0 130px 0;
    }
    .cover .button {
        font-size: 2em;
        padding: 1em 1em 1em 1em;
    }

    .footer-columns{
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        padding: 0;
    }
    .footer-columns div{
        padding-left: 0;
        font-size: 12px;
    }
}


/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
    body {
        font-size: 7px;
    } 
    .menu .menu-item a img{
        width: 15em;
    }
    .cover .full-image {
        background: url("images/Rooster_LandingPage_1920x1080_Jackpot1Mobile.jpg") center center no-repeat;
        background-size: cover;
       
    }
    .cover {
        text-align: center;
        height: 70vh;
        width: 100%;
        overflow: hidden;
        position: relative;
        margin-bottom: 5em;
    }

    .cover .full-image .container{
        float: none;
        margin-top: 50px;
        display: inline-block;
        box-sizing: border-box;
        padding: 0;
    }
    .offer{
        width: 50em;
        padding: 80px 0 100px 0;
     
    }
    

      /* FOOTER */

    .footer-columns{
        display: inline-block;
        box-sizing: border-box;
        padding: 0;
        font-size: 15px;
    }
    .footer-columns div{
        padding-left: 0;
        padding-top: 1em;
    }
    .footer-columns img {
        height: 2em;
    }
    footer img {
        height: 8em;
    }
    h4 {
        padding-bottom: 1em;
    }
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    body {
        font-size: 7px;
    } 
    .menu .menu-item a img{
        width: 15em;
    }
    .cover .full-image {
        background: url("images/Rooster_LandingPage_1920x1080_Jackpot1Mobile.jpg") center center no-repeat;
        background-size: cover;
       
    }
    .cover {
        text-align: center;
        height: 70vh;
        width: 100%;
        overflow: hidden;
        position: relative;
        margin-bottom: 5em;
    }

    .cover .full-image .container{
        float: none;
        margin-top: 50px;
        display: inline-block;
        box-sizing: border-box;
        padding: 0;
    
    }
    .offer{
        width: 50em;
        padding: 80px 0 100px 0;
        margin-left: -6em;
    }  

      /* FOOTER */

    .footer-columns{
        display: inline-block;
        box-sizing: border-box;
        padding: 0;
        font-size: 15px;
    }
    .footer-columns div{
        padding-left: 0;
        padding-top: 1em;
    }
    .footer-columns img {
        height: 2em;
    }
    footer img {
        height: 8em;
    }
    h4 {
        padding-bottom: 1em;
    }
}


/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
    body {
        font-size: 12px;
    } 

    .cover .full-image {
        background: url("images/Rooster_LandingPage_1920x1080_Jackpot1.jpg") center center no-repeat;
        background-size: contain ;
        background-position-y: 0%;
        width: 100%;
        height: 100%;
        display: inline-block;
        align-items: center;
        justify-content: center;
        }
        .cover {
            height: 100vh;
            width: 100%;
            overflow: hidden;
            position: relative;
            margin-bottom: 5em;
            float: right;
        }
        .cover .full-image .container{
            float: none;
            margin-top: 120px;
            display: inline-block;
            box-sizing: border-box;
            
        }
        .offer{
            width: 50em;
            padding: 180px 0 200px 0;
        }

    .footer-columns{
        display: inline-block;
        box-sizing: border-box;
        padding: 0;
    }
    .footer-columns div{
        padding-left: 0;
    }
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
    body {
        font-size: 12px;
    } 

    .cover .full-image {
    background: url("images/Rooster_LandingPage_1920x1080_Jackpot1.jpg") center center no-repeat;
    background-size: contain ;
    background-position-y: 0%;
    width: 100%;
    height: 100%;
    display: inline-block;
    align-items: center;
    justify-content: center;
    }
    .cover {
        height: 100vh;
        width: 100%;
        overflow: hidden;
        position: relative;
        margin-bottom: 5em;
        float: right;
    }
    .cover .full-image .container{
        float: none;
        margin-top: 120px;
        display: inline-block;
        box-sizing: border-box;
        
    }
    .offer{
        width: 50em;
        padding: 180px 0 200px 0;
    }


    .footer-columns{
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        padding: 0;
    }
    .footer-columns div{
        padding-left: 0;
        font-size: 13px;
    }
    h4 {
        padding-bottom: 1em;
    }
      
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
    body {
        font-size: 12px;
    } 
    .cover {
        margin-bottom: 0.5em;
    }

    .cover .full-image {
        background: url("images/Rooster_LandingPage_1920x1080_Jackpot1Mobile.jpg") center center no-repeat;
        background-size: cover ;
    }
    
    .cover {
        text-align: center;
        margin-bottom: 30px;
    }

    .cover .full-image .container{
        float: none;
        margin-top: 100px;
        display: inline-block;
        box-sizing: border-box;
        padding: 0;
    
    }
    .offer{
        width: 50em;
        padding: 80px 0 250px 0;
        margin-left: -6em;
    } 
   
        
    .footer-columns{
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        padding: 0;
    }
    .footer-columns div{
        padding-left: 0;
        font-size: 13px;
    }
    h4 {
        padding-bottom: 1em;
    }
      
}

/* Iphone X Max & Androind Big Screens----Landscape--------*/
@media only screen 
and (min-device-width : 800px) 
and (max-device-width : 900px) 

and (orientation : landscape) {

    
    body {
        font-size: 8px;
    }
    .cover {
        height: 100vh;
        width: 100%;
        overflow: hidden;
        margin-bottom: 5em;
        float: none;;
      } 

    .cover .full-image {
        background: url("images/Rooster_LandingPage_1920x1080_Jackpot1.jpg") center center no-repeat;
        background-size: cover;
    }
    .cover .full-image .container{
        margin-top: 8em;
        margin-left: 6em;
        display: inline-block;
        box-sizing: border-box;
        padding: 0;
    
    }
    
    .offer{
        width: 50em;
        padding: 100px 0 130px 0;
    }
    .cover .button {
        font-size: 2em;
        padding: 1em 1em 1em 1em;
    }

    .footer-columns{
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        padding: 0;
    }
    .footer-columns div{
        padding-left: 0;
        font-size: 12px;
    }

}


/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
 
    body {
     font-size: 14px;
    }
    .cover {
        height: 100vh;
        width: 100%;
        overflow: hidden;
        position: relative;
        margin-bottom: 5em;
        float: right;
      }
      .cover .full-image {
        background: url("images/Rooster_LandingPage_1920x1080_Jackpot1.jpg") center center no-repeat;
        background-size: contain ;
        background-position-y: 0%;
        width: 100%;
        height: 100%;
        display: inline-block;
        align-items: center;
        justify-content: center;
      }
      
      .cover .full-image .container{
        margin-top: 200px;
        width: 40em;
      }
      
      .offer{
        width: 50em;
        padding: 180px 0 250px 0;
      }


    /* footer */
    footer {
        text-align: center;
    }

    .footer-columns{
        display: flex;
        justify-content: center;
        box-sizing: border-box;
    
    }
    .footer-columns div{
        font-size: 18px;
    }
      

}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
    body {
        font-size: 14px;
    }
    .cover .full-image {
        background: url("images/Rooster_LandingPage_1920x1080_Jackpot1.jpg") center center no-repeat;
        background-size: contain ;
        background-position-y: 0%;
        width: 100%;
        height: 100%;
        display: inline-block;
        align-items: center;
        justify-content: center;
      }
   
    .cover .full-image .container{
        
        margin-top: 250px;
        margin-left: 10%;
        width: 40em;
        
    }
      
    .offer{
        width: 50em;
        padding: 180px 0 250px 0;
    }


    /* footer */
    footer {
        text-align: center;
    }

    .footer-columns{
        display: flex;
        justify-content: center;
        box-sizing: border-box;
    }
    .footer-columns div{
        padding-left: 0;
        font-size: 12px;
    }
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}


